{% extends 'base.html' %}
{% block title %}
Register
{%endblock%}
{% block content %}
<div class="card mx-auto text-center" style="width: 30rem;">
  <div class="card-header bg-success text-white">
    <h2>Registration Page</h2>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      User Name <p>{{form.username}}</p>
      Password <p>{{form.password1}}</p>
      Confirm Password <p>{{form.password2}}</p>
      <p>{{form.errors}}</p>
      <input type="submit" value="Register" />
    </form>
  </div>
</div>
{% endblock %}